<div class="well well-sm" style="display: flex;">
    <a href="{{ app.request.pathinfo ~ '?path=/' ~ path.getParentPath.getString }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
    </a>
        
    &nbsp;
    
    <a href="{{ app.request.uri }}" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span> Refresh
    </a>

    &nbsp;
    {#
    <a href="{{ app.request.pathinfo ~ '?path=/' ~ app.user.username }}" class="btn btn-default">
        <span class="glyphicon glyphicon-user"></span> My files 
    </a>

    &nbsp; #}
    
    <a href="{{ path('browser_locs_download') }}?path={{ path.getString }}"
        style="margin-bottom: 0px"
        class="btn btn-default">
        <span class="glyphicon glyphicon-download-alt"></span> .loc files
    </a>
    
    <ul class="breadcrumb" style="margin-bottom: 0px">
        {% set depth = path.getDepth %}
        <li><a href="{{ app.request.pathinfo ~ '?path=/' }}"><span class="glyphicon glyphicon-home"></span></a></li>
        {% for i in 0..depth %}
            <li><a href="{{ app.request.pathinfo ~ '?path=/' ~ path.getParentPath(i+1).getString() }}">{{ path.getAtom(i) }}</a></li>
        {% endfor %}
    </ul>
</div>

    