{% block stylesheets %}
<link href="{{ asset('css/dropzone.css') }}" rel="stylesheet" />
<link href="{{ asset('css/dropzone_basic.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <form action="{{ oneup_uploader_endpoint('browse') }}" class="dropzone" id="upload-browse"></form>

    <!-- This message is shown when a file gets successfully uploaded. It's triggered by
    an event in dropzone.config.js. -->
    <div class="alert alert-success alert-dismissible fade in" style="display: none" id="upload_success_alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        File(s) successfully uploaded. Please <a class="alert-link" href="{{ app.request.uri }}">refresh</a> the page to see it in the list.
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/dropzone.js') }}"></script>
<script src="{{ asset('js/dropzone.config.js') }}"></script>
{% endblock %}
