{% import "macros/bytes.html.twig" as bytes %}

{% extends 'base.html.twig' %}

{% block title %}ManiaCDN Admin{% endblock %}

{% block body %}
<form method="post" action="{{ app.request.uri }}">
    <input type="hidden" name="token" value="{{ csrf_token('admin_block-delete') }}" />
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Approved</th>
                <th>Delete</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
                {% set filepath = item.getString %}
                <tr>
                    <!-- name -->
                    <td>
                        <span class="glyphicon glyphicon-file"></span> {{ item.getString|e }}
                    </td>
                    
                    <!-- size -->
                    <td>
                        {{ not item.isDir ? bytes.humanReadableBytes(item.getFileSize) }}
                    </td>

                    <!-- block -->
                    <td>
                        <label><input type="radio" checked name="block[{{ filepath }}]" value="true" class="approve-yes-marker-noncss"> no</label>
                        <label><input type="radio" name="block[{{ filepath }}]" value="false" class="approve-no-marker-noncss"> yes</label>
                    </td>

                    <!-- delete -->
                    <td>
                        <input type="checkbox" class="delete-marker-noncss" name="delete[{{ filepath }}]" value="true">
                    </td>

                    <!-- download -->
                    <td>
                        <a style="display:block; width:100%;" 
                            href="{{ path('admin_review_download') }}?file={{ item.getString }}"
                        >Link</a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-info">
                    No items in this folder.
                </div>
            {% endfor %}
        </tbody>
       
        <button type="submit" name="block-delete" class="btn btn-primary">Update Block & Delete</button>
    </table>
        
    <a onclick="approveAll(false);" href="#" class="btn btn-default">Approve none</a>
    <a onclick="approveAll(true);" href="#" class="btn btn-default">Approve all</a>
    <br>
    <label><input type="checkbox" onclick="toggleDelete(this);" /> Toggle delete all<br/></label>
</form>
        

<script>
function approveAll(approve) {
    let radios = [];
    if (approve == true) {
        radios = document.getElementsByClassName('approve-no-marker-noncss');
    } else {
        radios = document.getElementsByClassName('approve-yes-marker-noncss');
    }

    for (let i = 0; i < radios.length; i++) {
        radios[i].checked = true;
    }
}

function toggleDelete(source) {
    let checkboxes = document.getElementsByClassName('delete-marker-noncss');

    for (let i=0; i<checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
    }
}
</script>

{% endblock %}
