{% import "macros/bytes.html.twig" as bytes %}

{% extends 'base.html.twig' %}

{% block title %}ManiaCDN Admin{% endblock %}

{% block body %}
<form method="post" action="{{ app.request.uri }}">
    <input type="hidden" name="token" value="{{ csrf_token('admin_block-delete') }}" />
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Approved</th>
                <th>Delete</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
                {% set filepath = item.getString %}
                <tr>
                    <!-- name -->
                    <td>
                        <span class="glyphicon glyphicon-file"></span> {{ item.getAtom(-1)|e }}
                    </td>
                    
                    <!-- size -->
                    <td>
                        {{ not item.isDir ? bytes.humanReadableBytes(item.getFileSize) }}
                    </td>

                    <!-- block -->
                    <td>
                        <label><input type="radio" checked name="block[{{ filepath }}]" value="true"> no</label>
                        <label><input type="radio" name="block[{{ filepath }}]" value="false"> yes</label>
                    </td>

                    <!-- delete -->
                    <td>
                        <input type="checkbox" name="delete[{{ filepath }}]" value="true">
                    </td>

                    <!-- download -->
                    <td>
                        <a style="display:block; width:100%;" 
                            href="{{ path('admin_review_download') }}?file={{ item.getString }}"
                        >Link</a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-info">
                    No items in this folder.
                </div>
            {% endfor %}
        </table>
        <button type="submit" name="block-delete" class="btn btn-primary">Update Block & Delete</button>
    </tbody>
</form>

{% endblock %}
